body {
	margin:25px;
}

#barchart {
	width: 560px;
	height: 1700px;
	border: 1px solid silver;
	background: #E6E6E6;
	float: right;
}

#barchart p {
	margin-left: 5px;
}

#barchart2 {
	width: 560px;
	height: 1700px;
	border: 1px solid silver;
	background: #E6E6E6;
	float: left;
}

#barchart2 p {
	margin-left: 5px;
}

#tooltip {
	position: absolute;
	z-index: 2;
	background: #fff;
	border-radius: 4px;
	width: 160px;
	height: 55px;
	color: black;
	font-size: 14px;
	padding: 5px;
	top: -150px;
	left: -150px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#tooltip p {
	margin: 0;
}

#tooltip p.value {
	font-weight: bold;
}
#tooltip2 {
	position: absolute;
	z-index: 2;
	background: #fff;
	border-radius: 4px;
	width: 160px;
	height: 55px;
	color: black;
	font-size: 14px;
	padding: 5px;
	top: -150px;
	left: -150px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#tooltip2 p {
	margin: 0;
}

#tooltip2 p.value {
	font-weight: bold;
}

#initial {
	font-size: 1.2rem;
	float: left;
}
#initial2 {
	font-size: 1.2rem;
	float: left;
}



.container {
	width: 1200px;
	height: 1800px;
	margin: 25px auto 25px auto;
	padding: 50px 50px 50px 50px;
	background-color: white;
	box-shadow: 0 0 20px #ccc;
}
#footer {
	border-top: 1px solid silver;
	color: #888888;
	font-size: 1.25rem;
	text-align: center;
	margin-top: 1rem;
	padding: 0.5rem;
}

.axis path,
.axis line {
	fill: none;
	stroke:black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 9px;
}

.axis2 path,
.axis2 line {
	fill: none;
	stroke:black;
	shape-rendering: crispEdges;
}
.axis2 text {
	font-family: sans-serif;
	font-size: 9px;
}
